.container1{
    width: 600px;
    margin:auto;
    margin-top: 0px;
    box-shadow: 1px 3px 5px black ;
    padding: 60px;
    margin-top: 80px;
    border-radius: 20px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media(max-width: 768px){
    .container1{
        width: 350px;
        padding-top: 60px;
        padding-left: 0px;
        padding-right: 0px;
    }
}